:root {
    --color-dark: #1F2937;
    --color-bright: #3882F6;
    --color-grey: #E5E7EB;
    --color-white: #F9FAF8;
}

body {
    font-family: "Roboto", Tahoma, sans-serif;
    margin: 0;
}

/* Remove all default browser margins */
h1, h2, h3, p {
    margin: 0;
}

h1 {
    color: var(--color-white);
    font-size: 48px;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
}

.logo {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header ul {
    list-style: none;
    display: flex;
    column-gap: 25px;
    margin: 0;
    padding: 0;
}

.header a {
    color: inherit;
    font-size: 18px;
    text-decoration: none;
}

.hero-section {
    background-color: var(--color-dark);
    color: var(--color-grey);
    font-size: 20px;
}

.hero-section > * {
    max-width: 1100px;
    margin: 0 auto;
}

.hero-section p {
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0;
}

.hero-content {
    display: flex;
    gap: 75px;
    padding: 160px 0;
}

.hero-text {
    /* Allows the image to grow */
    flex-shrink: 2;
}

.hero-button {
    background-color: var(--color-bright);
    border-radius: 10px;
    color: var(--color-white);
    font-size: inherit;
    display: inline-block;
    padding: 10px 35px;
}

.hero-image {
    background-color: #686D78;
    color: var(--color-white);
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    text-align: center;
    color: var(--color-dark);
    padding-bottom: 90px;
}

.info-section h2 {
    color: var(--color-dark);
    font-size: 36px;
    font-weight: 900;
    margin: 45px 0;
}

.info-section p {
    color: var(--color-dark);
    margin-top: 10px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.info-child {
    --square-size: 150px;
    flex-basis: var(--square-size);
}

.info-image {
    border: 4px solid var(--color-bright);
    border-radius: 15px;
    margin: 0 auto;
    height: var(--square-size);
}

.quote-section {
    background-color: var(--color-grey);
    color: var(--color-dark);
    padding: 90px 0 80px;
}

.quote-section blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 790px;
}

.quote-author {
    align-self: flex-end;
    font-weight: 700;
    font-size: 20px;
    margin-right: 25px;
}
